.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* */
@media screen and (max-width:770px) {
  .title h2{
    font-size: 3px;
  }
  
  .add-to-cart img{
    top: 0;
    right: 0;
    margin-top: 5%;
  }
  .cart-wrapper{
    width: 1%;
    border: 1px solid #ccc;
    margin-top: 30%;
  }
  
  .cart-counter {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 7%;
    z-index: 1;
    background-color: lightskyblue;
    padding: 7px;
    width: 22px;
    height: 20px;
    border-radius: 75%;
    color: black;
  }
  
}

/* */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* */
.add-to-cart img{
  width: 80px;
  position: absolute;
  right: 10%;
  top: 5%;
}
.btn-wrapper button {
  background-color: cadetblue;
  border: 0px;
  padding:10px;
  border-radius: 4px;
  color: #fff;
  box-shadow: #333 0px 1px 5px;
}
.img-wrapper img {
  width:100px;
  margin-top: -20px;
}
.cart-wrapper{
  height: 100px;
  width: 500px;
  border: 1px solid #ccc;
  margin-left: 10%;
}
.item {
  float: left;
  display: inline-block;
  width:120px;
  padding: 14px;
  height: 70px;
}
.cart-counter {
  position: absolute;
  right: 10%;
  top: 30px;
  z-index: 1;
  background-color: lightskyblue;
  padding: 7px;
  width: 22px;
  height: 20px;
  border-radius: 75%;
  color: black;
}
button.remove-cart-btn{
  background-color: maroon;
  margin-top: 8px;
}

/* */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
